/*Title for whole website*/
.title{
  text-align: center;
  font-family: cursive;
  font-size: 48px;
  font-style: italic;
}

/*Resize web page*/
html {
  height: 101%;
}

/*Navigation css starts*/
.navigation{
  background-color: #e0b0ff;
  overflow: hidden;
  text-align: center;
  position: sticky;
  top: 0;
}

.navigation ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.navigation ul li {
  float: left;
}

.navigation ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation ul li a:hover {
  background-color: #fff9e5;
  color: #e0b0ff
}
/*Navigation css ends*/

/*Contact.html css starts*/
/*Css for main div*/
.main{
  padding: 16px;
  border: 3px solid #cccccc;
  display: inline-block;
}

/*Css for message title*/
#contact-message{
  text-align: left;
  font-size: 24px;
  font-family: cursive;
  font-style: italic;
}

/*Css for contact form*/
#form{
  text-align: left;
  font-family: Tahoma, sans-serif;
}

/*Css for message input box*/
#message{
  width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
  resize: none;
}

/*Css for name input box*/
#name{
  width: 200px;
	height: 17px;
  border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
  resize: none;
}

/*Css for email input box*/
#email{
  width: 200px;
	height: 17px;
  border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
  resize: none;
}

/*Css for submit button*/
#submit{
  background-color: #e0b0ff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/*Contact.html css ends*/

/*Services.html css starts*/
/*Css for table*/
.services-body table, th, td {
  border: 3px solid #cccccc;
  text-align: left;
  font-family: Tahoma, sans-serif;
  padding: 10px;
  background-color: #fff9e5;
}

/*Table title for services*/
.h2-services{
  text-align: left;
  font-size: 24px;
  font-family: cursive;
  font-style: italic;
}
/*Services.html css ends*/
